    <!-- Jumbotron featuring -->
    <div class="jumbotron">
        <h1>Welcome to NodeJS Blog</h1>
        <p>This blogging website is developed by NodeJS. Here you can add new post, edit and delete your contributed post easily.</p>
        <a href="/login" class="btn btn-success border border-0 text-white btn-lg">Log In</a>
        <a href="/register" class="btn btn-info border border-0 text-white btn-lg">Sign Up</a>
    </div>