<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p>&copy; 2023 NodeJS Blogger, All rights reserved.</p>
    </div>
</footer>

<!-- Bootstrap JS scripts (make sure to include jQuery and Popper.js before) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
