<%- include("components/header") %>  

<div class="container" id="main">
    <div class="row">
        <div class="col-lg">
            <div class="addPost">
                <div class="mb-2">
                    <h2 class="text-center p-4">About Pratik Dangol</h2>
                    <div class="text-justify m-3">
                        <p>
                            Welcome to the digital home of Pratik Dangol, a passionate individual with a diverse set of skills and a boundless curiosity for the world of technology and creativity.
                        </p>

                        <h4>Who is Pratik Dangol?</h4>
                        <p>
                        Pratik Dangol is an enthusiastic technology enthusiast, content creator, and aspiring entrepreneur based in Nepal. With a background in computer science and a flair for creative storytelling, Pratik has embarked on a journey to share his knowledge, experiences, and insights with the world.
                        </p>

                        <h4>My Mission</h4>
                        <p>
                        At Pratik Dangol, we are dedicated to delivering informative, entertaining, and thought-provoking content that resonates with tech enthusiasts, aspiring entrepreneurs, and anyone curious about the ever-evolving digital landscape. Our mission is to bridge the gap between technology and creativity, inspiring individuals to harness the power of innovation for personal and professional growth.
                        </p>

                        <h4>What We Offer</h4>
                        <p>
                        <b>Tech Insights: </b> Explore the latest trends, tips, and tricks in the world of technology. Pratik Dangol provides in-depth analysis, reviews, and tutorials on a wide range of tech topics, from coding and software development to hardware reviews and emerging technologies.
                        <br />
                        <b>Creative Endeavors: </b>Beyond the world of tech, Pratik is a passionate advocate for creativity. Discover his artistic pursuits, including photography, design, and storytelling. Get inspired to unlock your own creative potential.
                        <br />
                        <b>Entrepreneurial Journey:</b> Follow Pratik's entrepreneurial journey, from ideation to execution. Learn from his successes and failures as he navigates the challenges of building a business and creating meaningful products.
                        <br />
                        Thank you for visiting Pratik Dangol. Together, let's explore the boundless possibilities of technology and creativity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("components/footer") %>  
